In [2]:
# Importamos las librerias necesarias
import pandas as pd
from pandasql import sqldf

In [3]:
# Importamos los archivos CSV, uno para cada servicio de streaming
Amazon = pd.read_csv("https://raw.githubusercontent.com/adelgerbo/Datasets/main/amazon_prime_titles-score.csv")
Disney = pd.read_csv("https://raw.githubusercontent.com/adelgerbo/Datasets/main/disney_plus_titles-score.csv")
Hulu = pd.read_csv("https://raw.githubusercontent.com/adelgerbo/Datasets/main/hulu_titles-score%20(2).csv")
Netflix = pd.read_csv("https://raw.githubusercontent.com/adelgerbo/Datasets/main/netflix_titles-score.csv")

In [4]:
# Verificamos la importaciòn correcta de los datasets
Amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [5]:
Disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",35
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,11

In [6]:
Hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,33
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,24

In [7]:
Netflix.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",20
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",8
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,55
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",7
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,44

In [8]:
"""
Generamos el campo id: Cada id se compondrá de la primera letra del
nombre de la plataforma, seguido del show_id ya presente en los 
datasets (ejemplo para títulos de Amazon = as123)
"""
Amazon.insert(loc = 0,
          column = 'id',
          value = "a"+Amazon["show_id"])

Disney.insert(loc = 0,
          column = 'id',
          value = "d"+Disney["show_id"])

Hulu.insert(loc = 0,
          column = 'id',
          value = "h"+Hulu["show_id"])

Netflix.insert(loc = 0,
          column = 'id',
          value = "n"+Netflix["show_id"])

In [9]:
# Comprobamos la correcta inserciòn del nuevo campo
Netflix.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,ns3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,ns4,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,ns5,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

In [10]:
"""
Juntamos todos los datasets en uno solo, ya que contamos 
con el campo id para diferenciar el servicio, y las
transformaciones a continuación se aplican a todos por igual
"""

moviesdb = Amazon.append(Disney).append(Hulu).append(Netflix)

C:\Users\rcent\AppData\Local\Temp\ipykernel_18316\3371029580.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  moviesdb = Amazon.append(Disney).append(Hulu).append(Netflix)
C:\Users\rcent\AppData\Local\Temp\ipykernel_18316\3371029580.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  moviesdb = Amazon.append(Disney).append(Hulu).append(Netflix)

In [11]:
#Verificamos el resultado
moviesdb.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [12]:
moviesdb.tail()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
8802,ns8803,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",20
8803,ns8804,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",8
8804,ns8805,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,55
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",7
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,44

In [13]:
# Verificamos existencia y cantidad de nulos por columna en el dataframe
moviesdb.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
score               0
dtype: int64

In [14]:
"""
Reemplazamos los valores nulos del campo "Rating" por la letra "G"
(corresponde al maturity rating "General por all audiences")
"""
moviesdb["rating"].fillna("G", inplace = True)

In [15]:
# Controlamos la correcciòn sobre la columna "rating"
moviesdb.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating              0
duration          482
listed_in           0
description         4
score               0
dtype: int64

In [16]:
# Visualizamos el dataframe modificado
moviesdb.head(30)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75
5,as6,s6,Movie,Living With Dinosaurs,Paul Weiland,"Gregory Chisholm, Juliet Stevenson, Brian Hens...",United Kingdom,"March 30, 2021",1989,G,52 min,"Fantasy, Kids",The story unfolds in a an English seaside town...,74
6,as7,s7,Movie,Hired Gun,Fran Strine,"Alice Cooper, Liberty DeVitto, Ray Parker Jr.,...",United States,"March 30, 2021",2017,G,98 min,"Documentary, Special Interest","They are the ""First Call, A-list"" musicians, j...",50
7,as8,s8,Movie,Grease Live!,"Thomas Kail, Alex Rudzinski","Julianne Hough, Aaron Tveit, Vanessa Hudgens, ...",United States,"March 30, 2021",2016,G,131 min,Comedy,"This honest, uncompromising comedy chronicles ...",84
8,as9,s9,Movie,Global Meltdown,Daniel Gilboy,"Michael Paré, Leanne Khol Young, Patrick J. Ma...",Canada,"March 30, 2021",2017,G,87 min,"Action, Science Fiction, Suspense",A helicopter pilot and an environmental scient...,46
9,as10,s10,Movie,David's Mother,Robert Allan Ackerman,"Kirstie Alley, Sam Waterston, Stockard Channing",United States,"April 1, 2021",1994,G,92 min,Drama,Sally Goodson is a devoted mother to her autis...,70
10,as11,s11,Movie,Forest Fairies,Justin G. Dyck,"Emily Wilder, Adrian Cowan, Gary Mckenzie, Jer...",Canada,"April 4, 2021",2016,G,88 min,"Adventure, Kids",Amanda stumbles upon a hidden village of fairi...,18
11,as12,s12,Movie,Take Care,Liz Tuccillo,"Leslie Bibb, Kevin Curtis, Nadia Dajani",United States,"April 10, 2021",2014,G,93 min,Comedy,"When a car crash leaves Frannie immobilized, s...",44
12,as13,s13,Movie,The Night Eats The World,Dominique Rocher,"Anders Danielsen Lie, Golshifteh Farahani, Den...",France,"April 17, 2021",2018,G,94 min,"Horror, Suspense",After waking up in an apartment the night afte...,35
13,as14,s14,Movie,Resilencia,Jep Barcelona,"Rafinha Alcantara, Marc-André Ter Stegen, Serg...",Spain,"April 24, 2021",2020,G,46 min,"Documentary, Sports",The documentary follows the midfielder’s every...,6
14,as15,s15,Movie,Elon Musk: The Real Life Iron Man,Sonia Anderson,"Elon Musk, Per Wimmer, Julie Anderson-Ankenbra...",United Kingdom,"May 2, 2021",2018,G,74 min,Documentary,"Discover the meteoric rise of Elon Musk, the m...",87
15,as16,s16,Movie,Summer '03,Becca Gleason,"Joey King, Jack Kilmer, Andrea Savage, Paul Sc...",United States,"June 3, 2021",2019,G,96 min,"Comedy, Drama",Summer '03 is the hilarious story of 16-year-o...,43
16,as17,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",NaN,NaN,2016,13+,87 min,"Horror, Science Fiction",When a strange virus quickly spreads through a...,92
17,as18,s18,TV Show,Zoo Babies,NaN,Narrator - Gillian Barlett,NaN,NaN,2008,ALL,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...,30
18,as19,s19,TV Show,Zoë Coombs Marr: Bossy Bottom,NaN,Zoë Coombs Marr,NaN,NaN,2020,18+,1 Season,"Comedy, Talk Show and Variety",Zoë Coombs Marr has been on hiatus. Sort of. F...,49
19,as20,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",NaN,NaN,2018,R,104 min,Science Fiction,ZOE tells a tale of forbidden love between an ...,24
20,as21,s21,TV Show,Zoboomafoo,NaN,NaN,NaN,NaN,2001,TV-Y,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...,15
21,as22,s22,TV Show,Zo Zo Zombie: Mini-Series,NaN,"Alex Cazares, Ben Diskin, Cristina Vee, Erika ...",NaN,NaN,2020,TV-Y7,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ...",3
22,as23,s23,Movie,Zis Boom Bah,William Nigh,"Grace Hayes, Mary Healy",NaN,NaN,1941,NR,62 min,"Arts, Entertainment, and Culture, Comedy, Drama","""Hey, kids, let's get together and put on a sh...",75
23,as24,s24,TV Show,ZeroZeroZero,NaN,"ANDREA RISEBOROUGH, HAROLD TORRES, CLAUDIA PIN...",Italy,NaN,2020,18+,1 Season,TV Shows,ZeroZeroZero series follows the journey of a c...,65
24,as25,s25,Movie,Zandalee,Sam Pillsbury,"Nicolas Cage, Judge Reinhold, Erika Anderson, ...",NaN,NaN,1991,R,94 min,Drama,Zandalee has grown bored with her poet-turned-...,42
25,as26,s26,Movie,Zambezi: Force of Life,Dr. Rudolf Lammers,NaN,NaN,NaN,2005,ALL,50 min,Documentary,The Zambezi river is the fourth-longest river ...,23
26,as27,s27,TV Show,Zahara: The Return,NaN,"Natasha Heschélle, Curtis Morgan, Hannah Scott...",NaN,NaN,2020,16+,1 Season,TV Shows,The story explores the history of slavery and ...,93
27,as28,s28,TV Show,Z: The Beginning of Everything,NaN,"Christina Ricci , David Hoflin",United States,NaN,2017,18+,1 Season,"Comedy, Drama","""Z: The Beginning of Everything"" tells the sto...",3
28,as29,s29,TV Show,Yu-Gi-Oh! Zexal,NaN,"Eli Jay, Marc Thompson, Sean Schemmel, Eileen ...",NaN,NaN,2015,TV-Y7,3 Seasons,"Animation, Anime, Fantasy",It's time to feel the flow as Yu-Gi-Oh! Zexal ...,50
29,as30,s30,TV Show,Yu-Gi-Oh! ARC-V,NaN,"Michael Liscio Jr., Emily Bauer",NaN,NaN,2018,TV-Y7,3 Seasons,"Action, Adventure, Animation",Get set to swing into action as Yu-Gi-Oh! ARC-...,58

In [17]:
# Cambiamos el formato de la columna "date_added" a AAAA-mm-dd
moviesdb["date_added"] = pd.to_datetime(moviesdb["date_added"])

In [18]:
# Verificamos
moviesdb.tail()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
8802,ns8803,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",20
8803,ns8804,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",8
8804,ns8805,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,55
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",7
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,44

In [19]:
# Pasamos a minúsculas los campos de texto
moviesdb["type"] = moviesdb["type"].str.lower()
moviesdb["title"] = moviesdb["title"].str.lower()
moviesdb["director"] = moviesdb["director"].str.lower()
moviesdb["cast"] = moviesdb["cast"].str.lower()
moviesdb["country"] = moviesdb["country"].str.lower()
moviesdb["rating"] = moviesdb["rating"].str.lower()
moviesdb["duration"] = moviesdb["duration"].str.lower()
moviesdb["listed_in"] = moviesdb["listed_in"].str.lower()
moviesdb["description"] = moviesdb["description"].str.lower()

In [20]:
# Verificamos
moviesdb.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75

In [21]:
# Separamos el campo "duration" en 2 columnas
splitcolumns = moviesdb["duration"].str.split(" ", n = 1, expand = True)
 
# Insertamos una columna con las cantidades
moviesdb["duration_int"] = splitcolumns[0]
 
# Insertamos una columna con la unidad de medición
moviesdb["duration_type"] = splitcolumns[1]

In [22]:
# Reemplazamos "seasons" por "season" en la columna "duration_type"
moviesdb['duration_type'] = moviesdb['duration_type'].str.replace('seasons','season')

In [23]:
# Cambiamor el formato del campo "duration_int" a integer
moviesdb['duration_int'] = moviesdb['duration_int'].astype("Int64")

In [24]:
#Verificamos
moviesdb.head(10)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,duration_int,duration_type
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,113,min
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,110,min
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,74,min
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,69,min
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,45,min
5,as6,s6,movie,living with dinosaurs,paul weiland,"gregory chisholm, juliet stevenson, brian hens...",united kingdom,2021-03-30,1989,g,52 min,"fantasy, kids",the story unfolds in a an english seaside town...,74,52,min
6,as7,s7,movie,hired gun,fran strine,"alice cooper, liberty devitto, ray parker jr.,...",united states,2021-03-30,2017,g,98 min,"documentary, special interest","they are the ""first call, a-list"" musicians, j...",50,98,min
7,as8,s8,movie,grease live!,"thomas kail, alex rudzinski","julianne hough, aaron tveit, vanessa hudgens, ...",united states,2021-03-30,2016,g,131 min,comedy,"this honest, uncompromising comedy chronicles ...",84,131,min
8,as9,s9,movie,global meltdown,daniel gilboy,"michael paré, leanne khol young, patrick j. ma...",canada,2021-03-30,2017,g,87 min,"action, science fiction, suspense",a helicopter pilot and an environmental scient...,46,87,min
9,as10,s10,movie,david's mother,robert allan ackerman,"kirstie alley, sam waterston, stockard channing",united states,2021-04-01,1994,g,92 min,drama,sally goodson is a devoted mother to her autis...,70,92,min

In [25]:
moviesdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       14739 non-null  object
 5   cast           17677 non-null  object
 6   country        11499 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22516 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22994 non-null  object
 13  score          22998 non-null  int64
 14  duration_int   22516 non-null  Int64
 15  duration_type  22516 non-null  object
dtypes: Int64(1), datetime64[ns](1), int64(2), object(12)
memory usage: 3.0+ MB

In [26]:
"""
Comenzamos con las consultas al dataframe. Esta función nos evitará pasar variables
globales cada vez que usemos un objeto
"""
pysqldf = lambda q: sqldf(q, globals())

In [27]:
""""
Definimos la función para el siguiente requerimiento: Cantidad de veces que aparece 
una keyword en el título de peliculas/series, por plataforma
"""
def veces_keyword(keyword,plataforma):
        if plataforma == "amazon":
                plat = "a%"
        elif plataforma == "netflix":
                plat = "n%"
        elif plataforma == "hulu":
                plat = "h%"
        elif plataforma == "disney":
                plat = "d%"

        query = """SELECT SUM (LENGTH(title) - LENGTH(REPLACE(title,'"""+keyword+"""',""))) / LENGTH('"""+keyword+"""')
        as cantidad
        FROM moviesdb
        WHERE id LIKE '"""+plat+"""' """ 
        veces = pysqldf(query)
        return veces.to_string(index=False, header=False)

In [28]:
veces_keyword("love","netflix")

'198'

In [29]:
query = """SELECT SUM (LENGTH(title) - LENGTH(REPLACE(title,"zombie",""))) / LENGTH("zombie")
        as cantidad
        FROM moviesdb
        WHERE id LIKE "a%" """
veces = pysqldf(query)
veces

   cantidad
0        15

In [30]:
query = """SELECT COUNT(title)
        FROM moviesdb
        WHERE score > 85
        AND release_year = 2010
        AND id LIKE "n%"
        AND type = "movie" """
veces = pysqldf(query)
veces

   COUNT(title)
0            20

In [31]:
query = """SELECT title
        FROM moviesdb
        WHERE id LIKE "a%"
        AND type = "movie"
        ORDER BY score DESC, title ASC
        LIMIT 1,1"""
veces = pysqldf(query)
veces

          title
0  abilene town

In [32]:
query = """SELECT title
        FROM moviesdb
        WHERE id LIKE "n%"
        AND release_year = 2016
        AND duration_type = "min"
        AND duration_int = (SELECT MAX(duration_int)
        FROM moviesdb
        WHERE id LIKE "n%"
        AND release_year = 2016
        AND duration_type = "min")
        """
veces = pysqldf(query)
veces

    title
0  sairat

In [33]:
query = """SELECT count(title)
        FROM moviesdb
        WHERE rating = "all" """
veces = pysqldf(query)
veces

   count(title)
0          1268